<a href="https://colab.research.google.com/github/mohammadsahalel-debug/ict_assignments/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#1
a = int(input("enter the first number:"))
b = int(input("enter the second number:"))
c = int(input("enter the third number:"))
l = max(a,b,c)
print(l,'is the largest number given by yoy')

enter the first number:5
enter the second number:6
enter the third number:7
7 is the largest number given by yoy

In [15]:
#2
def sum_list(numbers):
  return sum(numbers)
list2 = [18, 12, 30, 10, 7]

result = sum_list(list2)
print("Sum of the list:", result)

Sum of the list: 77

In [14]:
#3
num = int(input("Enter the number:"))
pos = int(input("Enter the position the number to be uploaded:"))

list3 = [1,2,3,4,5,6,7,8,9,0]
list3.insert(pos,num)
print(list3)

Enter the number:5
Enter the position the number to be uploaded:4
[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

In [13]:
#4
sample = {"name":"Kelly", "age":25, "salary": 8000, "city": "New york"}
place = input("Enter the place:")
sample.update({"city":place})
print(sample)

Enter the place:mala
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'mala'}

In [12]:
#5
sample2 = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample2['emp3']['salary'] = 8500
print(sample2)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [10]:
#6
tuple1 = (11,22,33,44,55,66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

In [11]:
#7
tuple3 = (50,10,60,70,50,83,567,50,81)
tuple3.count(50)

3